body:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(110deg, rgb(196, 155, 21) -10%, rgba(0, 0, 0, 0) 50%), linear-gradient(110deg, #0a2ab4 46%, #e40808 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.background {
    padding-top: 10px;
    padding-bottom: 6px;
    margin-top: -16px;
    margin-right: -8px;
    margin-bottom: -16px;
    margin-left: -8px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h2 {
    margin: 10px;
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    text-decoration: underline;
}

.container {
    column-width: 25em;
}

.main {
    text-align:center;
}

#image {
    height: 280px;
    width: 400px;
}

.info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-section > p {
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
}

@media (max-width: 45rem) {
    .info-section > p {
        font-size: 1.39rem;
        color:rgb(255, 255, 255);
    }
    
    h3 {
        font-style: italic;
    }
}

.why-the-goat {
    padding: 0 40px 0 40px;
}

ul.ba {
    list-style-type: none;
}

li {
    font-weight: bold;
    font-size: 1.5rem;
}

#logo {
    margin: 50px 0px 50px -30px;
    width: 400px;
    height: 300px;
}

#image-with-goat {
    width: 280px;
    height: 400px;
}

@media (max-width: 45rem) {
    #logo {
        margin: 25px 0 30px 0px;
        width: 380px;
        height: 280px;
    }

    #image-with-goat {
        margin-bottom: 20px;
        width: 260px;
        height: 380px;
    }
}

.links {
    display: grid;
    grid-row: 2;
    font-size: 1.1rem;
    margin: 10px;
}

a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-out;
}

a:hover {
    color: rgb(37, 140, 209);
    transform: translateX(8px);
}